<header class="headline repel">
  <h2 class="headline__heading">{{ data.heading }}</h2>
  <p class="labelled-icon {{ data.labelledIcon.utilities }}">
    {{ data.labelledIcon.text }}
    {% include "icons/arrow-down.svg" %}
  </p>
</header>