<h2 class="container-fill-text">
  <span class="container-fill-text__container">
    <span class="container-fill-text__display">{{ data.text | safe }}</span>
  </span>
  <span class="container-fill-text__reference" aria-hidden="true">{{ data.text | safe }}</span>
</h2>