<header class="site-head wrapper">
  <div class="sidebar">
    <div class="site-head__brand">
      <a href="/">
        Bloom Barista Academy
      </a>
    </div>
    <nav aria-label="primary" class="nav">
      <ul class="cluster" role="list">
        <li>
          <a href="/courses">Courses</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
    </nav>
  </div>
</header>