---
permalink: /blog/index.html
eleventyExcludeFromCollections: true
title: 'Blog'
layout: 'layouts/listing.njk'
---

<ul>
{% for post in collections.wpContent | getPosts %}
  <li>
    <a href="/{{ post.slug }}">
      {{ post.title.rendered | safe }}
    </a>
  </li>
{% endfor %}
</ul>
