<div class="masthead">
  <h1 class="masthead__heading">{{ data.heading }}</h1>
  <p class="masthead__location">{{ data.location }}</p>
  <p class="masthead__meta">{{ data.meta }}</p>
  <div class="masthead__logo-left" aria-hidden="true">
    {% include "icons/brand-left.svg" %}
  </div>
  <div class="masthead__logo-right" aria-hidden="true">
    {% include "icons/brand-right.svg" %}
  </div>
</div>