{# Appending 'assetHash' to a stylesheet's href allows up-to-date CSS files to be cached correctly #}
{# The random() fn is available through src/_data/globa.js #}
{# TODO: do this only in a production environment #}

{# FROM Andy's blog #}

{% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="alternate" type="application/rss+xml" href="{{ site.url }}/feed.xml" />
    <link rel="stylesheet" href="/css/global.css" />

    {# Add facility for pages to delare an array of critical styles #}
    {% if pageCriticalStyles %}
      {% for item in pageCriticalStyles %}
        <style>{% include item %}</style>
      {% endfor %}
    {% endif %}

    {# Add facility for pages to declare an array of stylesheet paths #}
    {% if pageStylesheets %}
      {% for item in pageStylesheets %}
        <link rel="stylesheet" media="print" href="{{ item }}?{{ assetHash }}" onload="this.media='all'" />
      {% endfor %}
    {% endif %}
  </head>
  <body>
    {# <a class="[ skip-link ] [ button ]" href="#main-content">Skip to content</a> #}
      <div class="sidebar" data-layout='main'>
        {% include 'partials/site-head.njk' %}
        <main class="main-content" tabindex="-1" id="main-content">
          {% block content %}{% endblock %}
        </main>
      </div>
    {% block scripts %}{% endblock %}
  </body>
</html>


{# MY CURRENT PAGE #}


{# {% set assetHash = global.random() %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <link rel="stylesheet" href="/css/global.css?{{ assetHash }}" />
    {% if extraCSSFiles %}
      {% for file in extraCSSFiles %}
        <link rel="stylesheet" href="/css/{{ file }}"/>
      {% endfor %}
    {% endif %}
    <title>{{ title }}</title>
  </head>
  <body>
    <div class="pattern-library wrapper">
    <header class="pattern-library__header flow">
    </header>
    <main class="sidebar">
      <nav class="pattern-library__sidebar flow" aria-label="design system">
        <div class="pattern-library__sidebar-inner pt-2xl">
          <h2>Writing</h2>
          <a class="docs-index-link" href="/blog">
            <svg focusable="false" class="docs-icon">
              <use xlink:href="/images/all.svg#icon-eye"></use>
            </svg>
            Full blog archive
          </a>
          <ul>
            {% for post in collections.wpContent | getPosts | reverse %}
              <li>
                <a href="/{{ post.slug }}" {% if page.url == "/"+post.slug+"/" %} aria-current="true"{% endif %}>
                  {% if page.url == "/"+post.slug+"/" %}
                    <svg class="docs-icon" focusable="false">
                    <use href="/images/all.svg#icon-triangle-right"></use>
                  </svg>                
                  {% endif %}
                  {{ post.title | safe }}
                </a>
              </li>
            {% endfor %}  
          </ul>
          <hr>
           <h2>Reading</h2>
            <ul>
              <li>
                <a href="/bookshelf" {% if page.url == "/bookshelf/" %} aria-current="true"{% endif %}>
                  {% if page.url == "/bookshelf/" %}
                    <svg class="docs-icon" focusable="false">
                    <use href="/images/all.svg#icon-triangle-right"></use>
                  </svg>                
                  {% endif %}
                  Now Reading
                </a>
              </li>
            </ul>
            <h2>Doing</h2>
            <ul>
              <li>
                <a href="/now/" {% if page.url == "/now/" %} aria-current="true"{% endif %}>
                  {% if page.url == "/now/" %}
                    <svg class="docs-icon" focusable="false">
                    <use href="/images/all.svg#icon-triangle-right"></use>
                  </svg>                
                  {% endif %}
                  What I'm up to now
                </a>
              </li>
            </ul>
           <h2>Thinking</h2>
           <ul>
            <li>
              <a href="/thinking" {% if page.url == "/thinking" %} aria-current="true"{% endif %}>
                {% if page.url == "/thinking" %}
                  <svg class="docs-icon" focusable="false">
                  <use href="/images/all.svg#icon-triangle-right"></use>
                </svg>                
                {% endif %}
                Notes
              </a>
            </li> 
           </ul>
        </div>
      </nav>
      <div>
        <div class="wrapper flow prose pt-2xl">
          {% block content %}{% endblock %}
        </div>
      </div>
    </main>
  </div>
    {% block scripts %}{% endblock %}
  </body>
</html> #}