<div class="hero">
  <img src="{{ data.img.src }}" alt="{{ data.img.alt }}" draggable="false"/>
  <a href="{{ data.href }}" class="hero__skip-link flow">
    <span class="hero__skip-link-icon">{% include "icons/arrow-down.svg" %}</span>
    <span class="hero__skip-link-label">{{ data.label }}</span>
  </a>
</div>