---js
{
  title: "What I'm up to now",
  layout: "layouts/page.njk",
  allPosts: function() {
    return this.collections.wpContent;
  },
  eleventyComputed: {
    nowEntries: function(data) {
      return this.getNowEntries(data.allPosts());
    }
  },
  permalink: "/now/index.html",
  eleventyExcludeFromCollections: true
}
---

<div class="[ alert ] repel bg-dark text-light p-s">
  <p>
    <em>Last updated: {{ nowEntries[0].date | simpleDate }}</em>
  </p>
  <a href="/now/archive">← Read previous entries</a>
</div>

{{ nowEntries[0].content | safe }}
