---
title: "What I'm up to now"
layout: "layouts/page.njk"
permalink: "/now/index.html"
eleventyExcludeFromCollections: true
---
{% set latestEntry = collections.wpContent | getNowEntries | first %}

<div class="[ alert ] repel bg-dark text-light p-s">
  <a href="/now/archive">← Read previous entries</a>
  <p>
    <em>Last updated: {{ latestEntry.date | simpleDate }}</em>
  </p>
</div>

{{ latestEntry.content.rendered | safe }}
