---
pagination:
  data: design.patterns.items
  size: 1
  addAllPagesToCollections: true
  alias: item
permalink: '{{ item.url }}/index.html'
---

{% from 'macros/pattern.njk' import pattern with context %}

{% set pageTitle = item.data.title %}
{% if item.data.summary %}
  {% set summary = item.data.summary %}
{% endif %}

{% extends "layouts/pattern-library.njk" %}

{% block inner %}

  <p class="mt-xs">
    <code class="text-primary-shade">{{ item.renderPatternSnippet }}</code>
  </p>

  {% if item.variants | length %}
    <nav class="cluster gutter-xs mb-xl" aria-label="variants">
      {% for variant in item.variants %}
        <a class="button" data-type="badge" href="#{{ variant.data.title | slug }}">{{ variant.data.title }}</a>
      {% endfor %}
    </nav>
  {% endif %}

  {{ pattern(item.previewUrl, item.markup, item.rendered) }}

  {% if item.docs %}
    <article class="flow">
      <h2>Information</h2>
      {{ item.docs | safe }}
      {% if item.data.keyLinks | length %}
        <h3>Key links</h3>
        <ul class="links" role="list">
          {% for link in item.data.keyLinks %}
            <li>
              {% if '://' in link.url %}
                <a href="{{ link.url }}">{{ link.label }}</a>
              {% else %}
                <dl>
                  <dt>{{ link.label }}</dd>
                  <dd>
                    <code>{{ link.url }}</code>
                  </dd>
                </dl>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    </article>
  {% endif %}

  {% if item.variants | length %}
    <h2>Variants</h2>
    {% for variant in item.variants %}
      <h3 id="{{ variant.data.title | slug }}">{{ variant.data.title }}</h3>
      <p class="mt-xs">
        <code class="text-primary-shade">{{ variant.renderPatternSnippet }}</code>
      </p>
      <div class="flow-space-size-1">
        {{ pattern(variant.previewUrl, variant.markup, variant.rendered) }}
      </div>
    {% endfor %}
  {% endif %}
{% endblock %}