.site-header {
    flex-basis: 15rem;
    flex-grow: 1;
    position: relative;
    outline: var(--space-xs) dashed;
    padding-top: var(--space-s-m);
}

.nav h2 {
    text-transform: uppercase;
    letter-spacing: var(--uppercase-kerning);
}

.nav a {
  display: inline-block;
  line-height: var(--line-height-small);
  font-weight: 700;
  text-decoration: none;
}

.nav a:visited {
  color: currentColor;
}

.nav [aria-current=true] {
    position: relative;
    text-indent: -1.25em;
}

.nav ul {
  list-style: none;
  padding-inline-start: 0px;
}

.nav ul > li {
  padding-inline-start: 0px;
}

.nav-link .nav-icon {
    width: 1em;
    height: 1em;
    vertical-align: -.15em;
}

.nav-icon {
    width: .75em;
    height: .75em;
    stroke: currentColor;
    stroke-width: 4;
    fill: none;
    text-decoration-skip: objects;
}