<style>
  .my-element {
    --corner-primary-color: var(--color-primary);
    --corner-size: 50vh;
    --corner-offset: 50%;
  }
</style>

<div class="my-element">
  <span class="corner" aria-hidden="true"></span>
</div>