---
title: 'Blog'
eleventyExcludeFromCollections: true
layout: 'layouts/page.njk'
---

<ul>
{% for post in collections.wpContent | getPosts | reverse %}
  <li>
    <a href="/{{ post.slug }}">
      {{ post.title }}
    </a>
  </li>
{% endfor %}
</ul>