---
title: Books Search
permalink: '/books-search/index.html'
layout: 'layouts/base.njk'
---

<!-- Search form for entering book title or author -->
<form id="search-form">
  <!-- Input for user to type the query -->
  <input type="text" id="search-input" placeholder="Enter book title or author" required>
  <!-- Button to submit the search query -->
  <button type="submit">Search</button>
</form>

<!-- Container for dynamically displaying search results -->
<ul id="results" class="results grid" role="list"></ul>

{% block scripts %}
  <script>
    const searchForm = document.getElementById('search-form');
    const searchInput = document.getElementById('search-input');
    const resultsList = document.getElementById('results');
    const loadMoreButton = document.getElementById('load-more');
    let currentPage = 0;
    let totalResults = 0;
    let currentQuery = '';

    // Attach event listeners to the "Add to shelf" buttons
    const addToShelfHandler = async (event) => {
      const title = event.target.getAttribute('data-title');
      const author = event.target.getAttribute('data-author');
      const coverImage = event.target.getAttribute('data-cover-image-src');
      const apiUrl = `/add-book/${encodeURIComponent(title)}/${encodeURIComponent(author)}/${encodeURIComponent(coverImage)}`;
      // Prevent fetching if any of the required param values is missing
      if (!title || !author || !coverImage) {
        console.error('Missing required data to add book to shelf');
        return;
      }
      // Fetch the API endpoint to add the book to the Bookshelf, Table 1 Airtable base
      try {
        const response = await fetch(apiUrl);
        if (!response.ok) {
          throw new Error(`An error occurred: ${response.statusText}`);
        }
        console.log('Book added successfully!');
      } catch (error) {
        console.error('Error adding book:', error);
      }
    };   

    function displaySearchResults(results, append = false) {
      if (!append) {
        resultsList.innerHTML = '';
      }

      resultsList.innerHTML += results?.map(book => {
        const { title, subtitle, author, coverImage, year } = book;

        return `
        <li class="flow flow-space-xs">
          <img src="${coverImage.src}" alt="${coverImage.alt}">
          <h4>${title}</h4>
          <p>${author}</p>
          <p>${year}</p>
          <button
            id="book-to-add-${title}-${subtitle}-${author}"
            data-title="${title}"
            data-author="${author}" 
            data-cover-image-src="${
              coverImage.src.includes('icons/avatar_book') 
              ? coverImage.cover_i
              : coverImage.src }"
          >
            Add to shelf
          </button>
        </li>
      `}).join('');

      document.querySelectorAll("button[id^='book-to-add']").forEach(button => 
        button.addEventListener('click', addToShelfHandler))
    }

    function displayLoadMoreButton() {
      // Prevents rendering the button if there are no results or less than 10 results
      if (totalResults === 0 || totalResults < 10) {
        return;
      }
      const buttonExists = document.getElementById('load-more');
      // Prevents rendering the button if all results have already been displayed
      if (buttonExists && ((currentPage + 1) * 10 >= totalResults)) {
        buttonExists.remove();
        return;
      } else if (buttonExists) {
        return;
      }
      // Only display the button if there are more results to fetch
      const loadMoreButton = document.createElement('button');
      loadMoreButton.id = 'load-more';
      loadMoreButton.textContent = 'Load more books';

      loadMoreButton.addEventListener('click', () => {
        currentPage++;
        fetchBooks(currentQuery, currentPage, true);
      });

      resultsList.after(loadMoreButton)
    }

    async function fetchBooks(query, page = 0, append = false) {
      const offset = page * 10;
      const apiUrl = `/search-books/${query}/${offset}`;
      try {
        const response = await fetch(apiUrl);
        if (!response.ok) {
          throw new Error(`An error occurred: ${response.statusText}`);
        }
        const data = await response.json();
        totalResults = data?.numFound;
        const results = data?.results;

        if (!results || totalResults === 0) {
          const li = document.createElement('li');
          li.textContent = `No results found for "${query}". Please try a different search.`;
          resultsList.appendChild(li);
          return;
        }
        displaySearchResults(data.results, append);
        displayLoadMoreButton();
      } catch (error) {
        console.error('Error fetching data:', error);
        const li = document.createElement('li');
        li.textContent = 'There was an error fetching the data. Please try again later.';
        resultsList.appendChild(li);
      }
    }

    searchForm.addEventListener('submit', (event) => {
      event.preventDefault();
      const query = searchInput.value.trim();
      if (!query) {
        alert("Please enter a search term");
        return;
      }
      currentQuery = query;
      currentPage = 0;
      fetchBooks(query, currentPage);
    });
  </script>
{% endblock %}
