---
title: Now Reading
pageTitleClasses: "text-align:center"
layout: "layouts/wider-content-page.njk"
---

<p class="text-align:center">
 Books I've read. Books I'm reading. Books I recommend. Inspired by Venkatesh Rao's <a href="https://www.ribbonfarm.com/now-reading/" target="_blank">Now Reading</a> and Dave Rupert's <a href="https://daverupert.com/bookshelf" target="_blank">Bookshelf</a>.
</p>

{% if collections.books|length %}
  {% for shelf, booksByShelf in collections.books | groupby("shelf") %}
    <h2 class="text-align:center" >{{ shelf | capitalize }}</h2>
    <div class="container bg-dark p-l text-light">
    <div class="grid">
      {% for book in booksByShelf %}
        <article class="card" data-card-variant='book'>
          <img {% if "loop.index > 3" %} loading="lazy" {% endif %} src="{{ book.coverImage }}" alt="Book cover for {{ book.title }}, by {{ book.authors }}">
          <div class="card__content flow">
            <h4 class="card__heading">{{ book.title }}</h4>
            <p class="card__meta">{{ book.authors }}</p>
          </div>
        </article>
      {% endfor %}
    </div>
  </div>
  {% endfor %}
{% endif %}

{% if not collections.books|length %}
  <p>No books added yet! Check back soon to see what I've been reading.</p>
{% endif %}