---
title: Now Reading
layout: "layouts/base.njk"
---

<p>
 Books I've read. Books I'm reading. Books I recommend.
 Inspired by Venkatesh Rao's <a href="https://www.ribbonfarm.com/now-reading/" target="_blank">Now Reading</a> page.
</p>

{% for shelf, booksByShelf in bookshelf | groupby("shelf") %}
  <h2>{{ shelf | replace("-", " ") | capitalize }}</h2>
  <div class="container">
    <div class="grid">
        {% for book in booksByShelf %}
          <box-l padding="0" borderWidth="0">
            <stack-l class="book">
              <div class="frame">
                <img class="inverted" src="{{ book.cover }}" alt="Book cover for {{ book.bookTitle }}, by {{ book.authors | join(", ") }}">
              </div>
              <h4>{{ book.bookTitle }}</h4>
              <p>
                {{ book.authors | join(", ") }}
              </p>
            </stack-l>
          </box-l>
        {% endfor %}
    </div>
</div>
{% endfor %}