---
title: Juan Carlos Asensio
layout: "layouts/base.njk"
---


<p>
  Welcome! This is my cozy nook on the world wide web.
  I've been designing websites and solving problems with code for the last 5 years.
  Before that, I worked on the business side of startups and venture capital.
</p>

<p>
  In a previous life, I was a soccer player (midfielder), a tennis player, and an avid student of Economics in college.
</p>

<p>
  Check out my <a href="/now">now</a> page to learn what I'm currently up to.
</p>