---js
{
  pagination:{
    data:"collections.wpContent",
    size: 1,
    alias: "item",
    before: function(paginationData) { 
      const notes = this.getNotes(paginationData);
      return notes;
    }
  },
  permalink:"/{{ item.slug }}/index.html",
  layout:"layouts/page",
  eleventyComputed: {
    title:"{{ item.title | safe }}"
  }  
}
---

{{ item.content | safe }}
  
<a href="/thinking">Back to Notes</a>
