---js
{
  pagination:{
    data:"collections.wpContent",
    size: 1,
    alias: "item",
    before: function(paginationData) { 
      const notes = this.getNotes(paginationData);
      return notes;
    }
  },
  permalink:"/{{ item.slug }}/index.html",
  layout:"layouts/page",
  eleventyComputed: {
    title:"{{ item.title.rendered | safe }}"
  }  
}
---

<aside class="alert flow pl-s" data-alert-variant="content-disclaimer">
  <h4>
    <svg class="icon" focusable="false" aria-hidden="true">
      <use xlink:href="/images/all.svg#icon-info"></use>
    </svg>
    Disclaimer
  </h4>
  <p>
    This is part of a collection unpolished thoughts, ideas, and reflections.
    It is raw, unfiltered and unfinished. Proceed at your own risk.
  </p>
</aside>

{{ item.content.rendered | safe }}

<div>
  <a href="/thinking">← Back to Notes</a>
</div>  
