---
title: What I'm up to now
layout: "layouts/base.njk"
date: Last Modified
---

<p>Updated {{ page.date | simpleDate }} from my home in New England, where it’s the start of Fall.</p>

<div class="docs-section-header">
  <h2 id="hobbies" tabindex="-1">Hobbies</h2>
  <a href="#hobbies" aria-label="link to Hobbies">#</a>
</div>

<p>
  Pickleball! In spite of nursing a knee injury for the last couple months, I've been pickling more and more this summer.
  Imho, it combines the best of ping pong and tennis and distills those into a fun, friendly sport.
</p>

<div class="docs-section-header">
  <h2 id="reading" tabindex="-1">Reading</h2>
  <a href="#reading" aria-label="link to Reading">#</a>
</div>

<div class="docs-section-header">
  <h2 id="chewing on" tabindex="-1">Chewing on</h2>
  <a href="#chewing-on" aria-label="link to Chewing on">#</a>
</div>