---
title: What I'm up to now
layout: "layouts/base.njk"
date: Last Modified
---

<p>Updated {{ page.date | simpleDate }} from my home in New England, where it’s the start of Fall. Inspired by 
  <a href="https://sive.rs/now" target="_blank">Derek Sivers</a>. Yup, it's now a <a href="https://sive.rs/nowff" target="_blank">movement</a>.
</p>

<div class="docs-section-header">
  <h2 id="hobbies" tabindex="-1">Hobbies</h2>
  <a href="#hobbies" aria-label="link to Hobbies">#</a>
</div>

<p>
  Pickleball! I've been nursing a knee injury for most of the summer but... before that happened, I played more pickleball than ever before.
  In my humble opinion, it combines the best of ping pong and tennis, and it turns that into a fun, friendly sport greater than the sum of its parts.
</p>

<p>
  Reading and writing poetry. I wouldn't call this a hobby per se, but it's something that has been 
  coming up in my days with unexpected persistance. It feels like part of a swell of personal change. Not
  something I'm actively choosing to do; instead, I sit and wait and spend time doing 
  not much of anything. After a while, I pick up a pen, and words start flowing. What I end up writing...I'm calling it poetry not because 
  it's about me trying to be a poet, but because it has a quality of authentic self-expression, of catharsis, of wanting nothing but to 
  leave a record of a process. Those words are shed skin of my becoming.
</p>

<div class="docs-section-header">
  <h2 id="reading" tabindex="-1">Reading</h2>
  <a href="#reading" aria-label="link to Reading">#</a>
</div>

<ul>
  <li>The Power of Fun (book club, finished)</li>
  <li>The Way to Love (book club, finished)</li>
  <li>The Overstory (currently reading)</li>
  <li>The FSG Poetry Anthology (ongoing)</li>
</ul>

<div class="docs-section-header">
  <h2 id="chewing on" tabindex="-1">Chewing on</h2>
  <a href="#chewing-on" aria-label="link to Chewing on">#</a>
</div>

<p>
  Most of what I'm thinking nowadays can be summed up as follows: live in the present moment, release outcome, befriend my inner voice.
  It has been...a challenge. I have a strong inclination to be constantly pushing myself and play the game of life/work/sports on hard mode.
  Although that brings about its own set of challenges and frustrations, I am learning that it is also my 
  learned way of being. A refined, programmatic beavior. A pattern, with deep, enthrenched roots. Slowing down, choosing the middle way between effort and ease, are uncomfortable and 
  run "against the grain" of how I've lived for many years.
</p>

<p>
  I'm referring to this phase of my life as The Great Quieting/Dissolving. Learning to befriend my ego, and having it
  take a step back. Practicing saying no to opportunities that are, in fact, distractions, pulling me away from
  getting to know my soul, my innermost image.
</p>

<p>
  This makes it sound deeply spiritual, and selfish, too. It is. At the same time, it deals directly with reality, with <em>what is</em>.
  Which means that this process is also incredibly practical, and readily accessible, with ripple effects for those around me.
</p>