---js
{
  pagination:{
    data:"collections.wpContent",
    size: 1,
    alias: "item",
    before: function(paginationData) { 
      const notes = this.getPosts(paginationData);
      return notes;
    }
  },
  permalink:"/{{ item.slug }}/index.html",
  eleventyComputed: {
    title:"{{ item.title | safe }}"
  }  
}
---

{% extends "layouts/base.njk" %}

{% block content %}
  <div class="wrapper prose flow">
    <h1>{{ item.title }}</h1>
    {{ item.content | safe }}
    <a href="/blog">Back to blog</a>
  </div>
{% endblock %}
