---
pagination:
  data: collections.blog
  size: 1
  alias: item
permalink: '/{{ item.slug }}/index.html'
layout: 'layouts/base'
eleventyComputed:
  title: "{{ item.title.rendered | safe }}"
---

{{ item.content.rendered | safe }}
  
<a href="/blog">Back to blog</a>
