---js
{
  pagination:{
    data:"collections.wpContent",
    size: 1,
    alias: "item",
    before: function(paginationData) { 
      const notes = this.getPosts(paginationData);
      return notes;
    }
  },
  permalink:"/{{ item.slug }}/index.html",
  layout: "layouts/page.njk",
  eleventyComputed: {
    title:"{{ item.title | safe }}"
  },
  pageStylesheets: ["../css/wordpress.css"]    
}
---
  
{{ item.content | safe }}

<div>
  <a href="/blog">Back to blog</a>
</div>
