---
title: 'SBTF'
---

{% extends "layouts/base.njk" %}

{% block content %}
<div style="height: 100vh; display: flex; align-items: center; justify-content: center; padding: 2rem; background: var(--color-bg);">
  <h1 class="text-step-10" style="max-width: 40ch; text-align: center;">Make your own damn website!</h1>
</div>
{% endblock %}