---
title: 'Thinking'
eleventyExcludeFromCollections: true
layout: 'layouts/page.njk'
---

<ul>
{% for note in collections.wpContent | getNotes | reverse %}
  <li>
    <a href="/{{ note.slug }}">
      {{ note.title }}
    </a>
  </li>
{% endfor %}
</ul>