<header class="site-header px-l">
    <div class="flex justify-center align-center">
      <a href="/">
        <img class="site-header__logo" src="/images/phenakistoscope.png" alt="">
      </a>
    </div>
    <button class="site-header__nav-toggle button" aria-expanded="false">
      <svg class="site-header__icon" focusable="false" viewBox="0 0 32 32">
        <path d="M3,3 29,3 M3,16 29,16 M3,29 29,29"></path>
      </svg>
      Menu
    </button>
    <nav class="site-header__nav flow" aria-label="main navigation">
      <h2>Writing</h2>
      <a class="site-header__link" href="/blog">
        <svg focusable="false" class="site-header__icon">
          <use xlink:href="/images/all.svg#icon-eye"></use>
        </svg>
          Full blog archive
      </a>
      <ul>
      {% for post in collections.wpContent | getPosts %}
        <li>
          <a class="site-header__link" href="/{{ post.slug }}" {% if page.url == "/"+post.slug+"/" %} aria-current="true"{% endif %}>
            {% if page.url == "/"+post.slug+"/" %}
              <svg class="site-header__icon" focusable="false">
              <use href="/images/all.svg#icon-triangle-right"></use>
            </svg>                
            {% endif %}
            {{ post.title.rendered | safe }}
          </a>
        </li>
      {% endfor %}  
      </ul>
      <h2>Reading</h2>
      <ul>
        <li>
          <a class="site-header__link" href="/bookshelf" {% if page.url == "/bookshelf/" %} aria-current="true"{% endif %}>
            {% if page.url == "/bookshelf/" %}
              <svg class="site-header__icon" focusable="false">
              <use href="/images/all.svg#icon-triangle-right"></use>
            </svg>                
            {% endif %}
            Now Reading
          </a>
        </li>
      </ul>
      <h2>Doing</h2>
      <ul>
        <li>
          <a class="site-header__link" href="/now/" {% if page.url == "/now/" %} aria-current="true"{% endif %}>
            {% if page.url == "/now/" %}
              <svg class="site-header__icon" focusable="false">
              <use href="/images/all.svg#icon-triangle-right"></use>
            </svg>                
            {% endif %}
            What I'm up to now
          </a>
        </li>
      </ul>
      <h2>Thinking</h2>
      <ul>
        <li>
          <a href="/thinking" {% if page.url == "/thinking" %} aria-current="true"{% endif %}>
            {% if page.url == "/thinking" %}
              <svg class="site-header__icon" focusable="false">
              <use href="/images/all.svg#icon-triangle-right"></use>
            </svg>                
            {% endif %}
            Notes
          </a>
        </li> 
      </ul>
    </nav>
</header>