<header class="site-header">
  {# Need logo styles #}
  {# <a href="/" class="logo">
    <img src="/images/he-distinguished-it-all.jpg" alt="">
  </a> #}
  <nav class="nav p-l" aria-label="main navigation">
           <div class="flow">
          <h2>Writing</h2>
          <a class="docs-index-link" href="/blog">
            <svg focusable="false" class="docs-icon">
              <use xlink:href="/images/all.svg#icon-eye"></use>
            </svg>
            Full blog archive
          </a>
          <ul>
            {% for post in collections.wpContent | getPosts | reverse %}
              <li>
                <a href="/{{ post.slug }}" {% if page.url == "/"+post.slug+"/" %} aria-current="true"{% endif %}>
                  {% if page.url == "/"+post.slug+"/" %}
                    <svg class="docs-icon" focusable="false">
                    <use href="/images/all.svg#icon-triangle-right"></use>
                  </svg>                
                  {% endif %}
                  {{ post.title | safe }}
                </a>
              </li>
            {% endfor %}  
          </ul>
           <h2>Reading</h2>
            <ul>
              <li>
                <a href="/bookshelf" {% if page.url == "/bookshelf/" %} aria-current="true"{% endif %}>
                  {% if page.url == "/bookshelf/" %}
                    <svg class="docs-icon" focusable="false">
                    <use href="/images/all.svg#icon-triangle-right"></use>
                  </svg>                
                  {% endif %}
                  Now Reading
                </a>
              </li>
            </ul>
            <h2>Doing</h2>
            <ul>
              <li>
                <a href="/now/" {% if page.url == "/now/" %} aria-current="true"{% endif %}>
                  {% if page.url == "/now/" %}
                    <svg class="docs-icon" focusable="false">
                    <use href="/images/all.svg#icon-triangle-right"></use>
                  </svg>                
                  {% endif %}
                  What I'm up to now
                </a>
              </li>
            </ul>
           <h2>Thinking</h2>
           <ul>
            <li>
              <a href="/thinking" {% if page.url == "/thinking" %} aria-current="true"{% endif %}>
                {% if page.url == "/thinking" %}
                  <svg class="docs-icon" focusable="false">
                  <use href="/images/all.svg#icon-triangle-right"></use>
                </svg>                
                {% endif %}
                Notes
              </a>
            </li> 
           </ul>
        </div>
  </nav>
</header>